$collapse-duration: .3s;
$collapse-timing-function: ease;
$fade-duration: .3s;
$fade-timing-function: linear;
$fade-and-scale-duration: .3s;
$fade-and-scale-timing-function: ease-in-out;
$fade-and-slide-duration: .3s;
$fade-and-slide-timing-function: ease-in-out;
$flip-duration: .4s;
$flip-timing-function: ease;
$slide-duration: .3s;
$slide-timing-function: ease-in-out;