/** Collapse **/
$collapse-duration: .3s;
$collapse-timing-function: ease;
/** Fade **/
$fade-duration: .3s;
$fade-timing-function: linear;
/** Fade & Scale **/
$fade-and-scale-duration: .3s;
$fade-and-scale-timing-function: ease-in-out;
/** Fade & Slide **/
$fade-and-slide-duration: .3s;
$fade-and-slide-timing-function: ease-in-out;
/** Flip **/
$flip-duration: .4s;
$flip-timing-function: ease;
/** Slide **/
$slide-duration: .3s;
$slide-timing-function: ease-in-out;